<html>
	<body>
		<center>
			<h2>Your Original URL is:</h2> <%= @original_url %>
			<h2>Your Shortner URL is:</h2> <%= @short_url %>
		</center>
	</body>
	<center><h2><%= link_to "Home", root_url %></h2></center>
</html>